{% extends 'base.html' %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome To My Ecommerce Website</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br><br>
                <p align="justify">Abv alcohol barley bright carboy finishing hard imperial infusion ipa wort. Caramel cider de hefe hoppy krug life mouthfeel pitching secondary. Aau acidic biere bittering bitterness bunghole caramel de dopplebock fermentation gravity rims scotch stout top-fermenting units wort. Acidic all-malt aroma barley berliner bock bottle bright caramel carbonation carboy chiller conditioning copper de dextrin draft draught goblet hard hop hopping hoppy krug mash noble original scotch secondary seidel. Abv amber anaerobic bock bottle chiller chocolate conditioning exchanger fermenting garde hopping imperial kolsch life mouthfeel pilsner primary priming pump seidel squares weisse wort.</p>
                <br><br>
                <p align="justify">Acid additive beer bright bung chiller conditioned dopplebock draught extract finishing mead top-fermenting. Ale attenuation barrel bittering bottom brewing conditioning dextrin draft dry goblet hoppy hops imperial infusion kettle sour sparge specific. Additive balthazar barley beer bitter black brewpub carbonation chiller conditioning enzymes grainy hefe imperial krausen lager malt mouthfeel of primary racking real shelf stout tank terminal top-fermenting wheat. Bitterness brewhouse brewpub crystal garde hoppy hydrometer krausen krug pitching squares. Ale bittering double ester hydrometer ibu lager lagering mead shelf squares units wheat.</p>
                <br><br>
                <p align="justify">Aau ale amber back becher biere bottle bright fermenting goblet hopping kettle kolsch lagering life pitch reinheitsgebot rest squares trappist tun wort. Additive adjunct alcohol anaerobic autolysis bacterial bitter black bunghole cold craft draft dry exchanger hand heat infusion kettle lager lagering mouthfeel pitch plato racking reinheitsgebot saccharification secondary trappist tulip weisse. Bitter bung dopplebock extract hefe krug lager lagering lambic of oxidized primary saccharification sour sparge specific stout trappist wit. Acid additive caramel carbonation fermenting hops ibu infusion life pilsner tank.</p>
                <br><br>
            </div>
        </center>
    </div>
</div>
 {% endblock %}